/*----------------------- UserDashboard.css -----------------------*/
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

body {
  overflow: hidden; /* Prevent scrolling on the entire page */
}

/*================================== App.css ==================================*/
.user-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--app-container);
  overflow-x: hidden; /* Hide horizontal scrolling on the entire dashboard */
}

.user-dashboard__content {
  display: flex;
  flex-grow: 1;
  overflow-y: hidden; /* Prevent vertical scrolling on the entire content area */
  overflow-x: hidden; /* Ensure no horizontal scroll in this section */
  width: 100%; /* Ensure it takes the full width of the container */
}

.user-dashboard__projects-section {
  flex-grow: 1;
  padding: 10px;
  background-color: rgb(211, 239, 235);
  border-radius: 28px;
  /* margin-top: -12px;*/
  /* margin-right: -12px; */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 101px); /* Adjust this to ensure the section takes up the correct height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Ensure no horizontal scrolling */
  box-sizing: border-box; /* Include padding and border in the element's width */
  width: 100%; /* Make sure it doesn't exceed the full width */
}

.app-section {
  flex-grow: 1;
  padding: 24px;
  background-color: #c5e0dd;
  border-radius: 26px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  height: calc(98vh - 20px);
  overflow-x: hidden; /* Hide horizontal scrolling */
}

.user-dashboard__project-boxes {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling for the project boxes */
  height: 100%; /* Ensure it takes up the full height */
  width: 100%; /* Ensure it doesn't cause horizontal overflow */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.user-dashboard__project-boxes > * {
  max-width: 100%; /* Prevent child elements from exceeding 100% width */
  box-sizing: border-box; /* Ensure padding and borders are included in width */
}






/*************************************** NEW *************************/
/*----------------------- Home.css -----------------------*/
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');*,*::after,*::before{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
} */
/* .home-body{
  width: 100%;
  height: 100vh;
flex-direction : column;
  background-color: var(--bodyBackground);
  font-family: "Open Sans",sans-serif;
  position: relative;
} */

:root{
  --paper : #e0e0e0;
  --borderRad : .5em;
  --shadowOpacity : rgba(0,0,0,0.3);
  --transition: 0.5s ease;
  --hardCoverColor : rgb(236, 221, 180);
  --bodyBackground : #68978c;
  --containerBackground : linear-gradient(to bottom right,#90bdb8,#e3fdfa);
  --testing : 1px solid black;
  --borderRad1 : 1em;
  --borderRad2 : .5em;
  --transition : 0.3s;
  --gap : 1em;
  --fontColorPrimary : rgb(19, 18, 18);
  --fontColorSecondary : rgb(30,32,24);
  --fontSizeLarge : clamp(1em,1.2em,1.3em);
  --fontSizeSmall : clamp(1em,1em,1em);
  --fontSizeMedium: clamp(1.4em,1.6em,1.8em);
  --padding :1em;
  --imageContainerWidth : 18%;
  --imageContainerHeight : 28em;
  --modalTextBig : clamp(2.2em,2.5em,3em);
  --modalTextMedium : clamp(1.6em,1.8em,2em);
  --modalTextSmall : clamp(1.4em,1.6em,1.8em);
}

/* html{
  font-size: 62.5%;
} */

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  width: 100%;
  height: 100vh;
flex-direction : column;
  /* background-color: var(--bodyBackground); */
  font-family: "Open Sans",sans-serif;
  position: relative;
}

.book-img{
  height: 100%;
  width: 100%;
}

.home-container{
  flex-grow: 1;
  padding: 24px;
  /* background-color: #ffffff; */
  border-radius: 26px;
  /* margin-right: 16px; */
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  width: clamp(60%,60em,90%);
  /* height: 85vh; */
  padding : var(--padding);
  height: calc(98vh - 90px);
  /* margin-left: 16px; */
  /* margin-top: 16px; */
  /* margin: 16px; */
}


.subcontainer{
  width: 100%;
  height: 100%;
  /* border : var(--testing); */
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-rows: repeat(5,34em);
  grid-template-columns: repeat(4,24em);
  grid-row-gap: 6em;
  /* overflow-y: scroll; */
}

::-webkit-scrollbar{
  width: 0.4em;
  /* display: none; */
  cursor: pointer;
}


::-webkit-scrollbar-track{
  background-color: #e6f9f1;
  border-radius: .2em;
}

::-webkit-scrollbar-thumb{
  background-color : #4b655e;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:vertical{
  height: 3em;
}


.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 13px rgba(0,0,0,0.3);
  /* border : var(--testing); */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease-in;
  border-radius: var(--borderRad2);
  position: relative; /* Ensure this container is positioned relative */
  cursor: pointer;
}

.img-container:hover .book-img{
  /* filter : blur(1px); */
  transform-origin: left;
  transform: scale(1.1);
  opacity: 0.8;
}

.img-subcontainer{
  width: 100%;
  height: 100%;
  border-radius: var(--borderRad2);
  position: relative;
}
.wishlist-btn{

}

.book-img{
  object-fit: cover;
  border-radius: inherit;
  transition: 0.5s ease;
  z-index: 3;
}

.card-content{
  flex-direction: column;
  /* justify-content: flex-start; */
  position: absolute;
  width: 100%;
  height: 43%;
  font-style: italic;
  top: 0%;
  left: 0%;
  background-color: rgb(171 211 206);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);
  transform: translateY(198%);
  transition: 0.3s ease;
  color: var(--fontColorSecondary);
  padding: 1.2em 1em;
}


.genre{
  /* border : var(--testing); */
  color : var(--fontColorSecondary);
  align-self: flex-end;
  font-size: 18px;
  /* margin-top: 1em; */
  padding : 0 .5em;
  background-color:#bffffc;
  border-radius: .2em;
  font-weight: 500;
}

.booktitle{
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: italic;
  font-size: large;
}

.booktitle{
  align-self: flex-start;
  margin-left: .5em;
  margin-bottom: .3em;
}

.bookwrapper{
  width: 100%;
  align-self: flex-end;
  gap : .5em;
}

.default{
  font-size: var(--fontSizeSmall);
  white-space: nowrap;
}

.author{
  font-weight: 600;
  font-size: 23px;
  font-size: 20px;
  height: fit-content;
  white-space: nowrap;
}


.book-popup{
  position: absolute;
  width: 40em;
  height: 30em;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%) scale(0.6);
  background-image: var(--containerBackground);
  border-radius: var(--borderRad1);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  z-index: 5;
  transform-style: preserve-3d;
  perspective: 200px;
  display: none;
  transition: 0.5s scale ease-in;
  padding : 1em;
  pointer-events: none;
}

.popup-content{
  display : flex;
  width: 100%;
  height: 100%;
}

.overlay{
  position: fixed;
  background-color: rgb(121 148 143 / 50%);  
  left :0;
  top :0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 4;
  border-radius: var(--borderRad1);  
  display: none;
}

.show .overlay{
  display: flex;
}

.show .book-popup {
  display: flex;
  transform: translate(-50%,-50%) scale(1);
  pointer-events: auto;
}

.show.subcontainer{
  overflow : hidden;
}

.content-left{
  width: clamp(22%,22em,23%);
  align-self: flex-end;
  height: 60%;
  /* border :var(--testing); */
} 

.content-right{
  position: relative;
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction : column;
  width: clamp(88%,88em,87%);
  height: 100%;
  /* border : var(--testing); */
  padding : 1em 1.5em;
  color : var(--fontColorSecondary);
}


.content-right::after{
  content : "";
  position: absolute;
  top :26%;
  left :8%;
  width: 90%;
  height: 2px;
  background-color: rgba(0,0,0,0.3);
}

.content-right .modal-title{
  text-align: center;
  font-weight: normal;
  width: 100%;
  /* border : var(--testing); */
  font-size: var(--modalTextBig);
  margin-left : 1em;
}

.content-right .modal-author{
  text-align: center;
  font-size: var(--modalTextMedium);
  width: 100%;
  font-weight: normal;
  margin-bottom: .5em;
  font-style : italic;
}

.content-right .description{
  /* border : var(--testing); */
  width: 100%;
  flex : 2;
  font-size: var(--modalTextSmall);
  overflow : scroll;
  scrollbar-width : none;
}

.modal-genre{
  position: absolute;
  bottom: -2%;
  right: -15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  align-self: flex-end;
  clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 98%, 0% 50%, 0 0);
  border-radius: var(--borderRad2);
  width: 8em;
  height: 2em;
  text-align: center;
  background-image: linear-gradient(to left, lightseagreen, rgb(217 245 242));
  font-style: italic;
}

.borw-btn{
  width: 4em;
  height: 2em;
  margin-top: 1em;
  font-size: var(--modalTextSmall);
  border-radius: var(--borderRad2);
  background-color: #b9eaeb;
  border : none;
  cursor: pointer;
  font-family: inherit;
  font-style : italic;
  font-weight: bold;
  color: var(--fontColorSecondary);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.borw-btn:focus{
  outline : none;
}

.borw-btn:hover{
  transform: scale(1.05);
}

.borw-btn:active{
  transform: scale(0.98);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.content-right .description::-webkit-scrollbar{
  display: none;
}

::selection{
  background-color: transparent;
}

.more:active{
  transform: scale(0.98);
}

.img-container:hover .card-content{
  transform: translateY(150%);
}

.img-container:hover .more{
  transform: translateX(0%);
}

/* 3D Book */


.page{
  list-style-type: none;;
}


.book{
  width: 11.5em;
  height: 17em;
  border-radius: var(--borderRad);
  position: absolute;
  top: -20%;
  left: -8%;
  box-shadow: 5px 10px 20px var(--shadowOpacity);
  z-index: 8;
  transition: all var(--transition);
}


.book.open{
  box-shadow: 5px 10px 20px var(--shadowOpacity);
  animation: open 0.6s ease forwards;
}

.book-front{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 7;
  transition: var(--transition);
  position: relative;
}

.book::before{
  transition: 0.5s ease;
}


@keyframes movein{
  to{
      transform : translateX(12.8%) rotateY(10deg) translateZ(12px);
  }
}

.book-back{
  transition: 0.5s ease;
  opacity: 0;
  transform: translateX(0%);
  position: relative;
}


.open .book-back{
  width: 100%;
  height: 92%;
  position: absolute;
  top: 5%;
  left : 0%;
  z-index: 1;
  border-radius: inherit;
  box-shadow: 15px 10px 40px var(--shadowOpacity);
  animation: slideIn2 0.5s ease forwards;
}

.page{
  top : 50.5%;
  left :0%;
  transition: var(--transition);
  transform: translateY(-50%) translateX(0%);
  opacity: 0;
  /* border : var(--testing) */
}

.open .page{
  position: absolute;
  border-right: 1px solid rgba(255, 255, 255,.4);
  border-radius: .5em;
  /* border : var(--testing); */
  animation: slideIn1 0.5s ease 0.1s forwards;
}

.one,.two,.three,.four,.five,.six,.seven{
  transition: var(--transition);
}

.open .one{
  z-index: 6;
  width: 92%;
  height: 97%;
  background-color: rgba(224, 224, 224,.9);
}

.open .two{
  z-index: 5;
  width: 93%;
  height: 96%;
  background-color: rgba(224, 224, 224,.85);
}

.open .three{
  z-index: 4;
  width: 94%;
  height: 95%;
  background-color: rgba(224, 224, 224,.75);
}

.open .four{
  z-index: 3;
  width: 95%;
  height: 94%;
  background-color: rgba(224, 224, 224,.65);
}

.open .five{
  z-index: 2;
  width: 96%;
  height: 93%;
  background-color: rgba(224, 224, 224,.6);
}

.open .six{
  z-index: 2;
  width: 97%;
  height: 92%;
  background-color: rgba(224, 224, 224,.6);
}

.open .seven{
  z-index: 2;
  width: 98%;
  height: 91%;
  background-color: rgba(224, 224, 224,.65);
}



@keyframes open{
  to{
      transform : translateX(-10%) rotateY(-6deg) translateZ(8px);
  }
}

@keyframes slideIn1{
  0%{
      opacity: 0;
      transform: translateY(-50%) translateX(0%);
  }
  100%{
      opacity: 1;
      transform: translateY(-50%) translateX(10%);
  }
}

@keyframes slideIn2{
  0%{
      opacity: 0;
      transform: translateX(0%);
  }
  100%{
      opacity: 1;
      transform: translateX(10%);
  }
}

@keyframes loading{
  to{
      transform: rotateZ(30deg) translateY(-20%) translateX(300%);
  }
}

@media only screen and (max-width : 800px){
  .book{
      height: 14em;
      width: 11em;
  }
}

@media only screen and (max-width: 1750px){
:root{
      --fontSizeLarge : 1.8em;
      --fontSizeSmall : 1.4em;
      --fontSizeMedium: 1.5em;
  }
  .subcontainer{
    grid-template-rows: repeat(5,18em);
    grid-template-columns: repeat(5,13em);
  }
}

@media only screen and (max-width: 1170px){
  :root{
      --fontSizeLarge : 1.8em;
      --fontSizeSmall : 1.4em;
      --fontSizeMedium: 1.5em;
  }

  .subcontainer{
    grid-template-rows: repeat(5,20em);
    grid-template-columns: repeat(2,15em);
  }
}

@media only screen and (max-width: 550px){
  :root{
      --fontSizeLarge : 2em;
      --fontSizeSmall : 1.6em;
      --fontSizeMedium: 1.8em;
  }

  .subcontainer{
    grid-template-rows: repeat(5,20em);
    grid-template-columns: repeat(1,15em);
  }
}
/*================================= profile.css ===============================*/
.card {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img {
  height: 192px;
  width: 100%;
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 110px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}
/*================================== AddBook.css ==================================*/
.manage-events-container {
  padding: 20px;
  background-color: #ddd;
  border-radius: 10px;
}


/* Manage Events Form */
.manage-events-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.manage-events-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
  width: 50%;
}

.manage-events-input:focus {
  border: 1px solid #c08610;
  outline: none;
}

.manage-events-button {
  padding: 10px 20px;
  color: rgb(65, 57, 11);
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  align-items: center;
  border: 2px solid rgb(65, 57, 11);
  box-shadow: 4px 4px rgb(65, 57, 11);
  background-color: #c08610;
  border-radius: 6px;
  font-size: 21px;
  font-weight: 650;
  width: 325px;
  /* justify-content: center; */
  margin: auto;
}

.manage-events-button:hover {
  background-color: #835e15;
}

/* Event List */
.event-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* bottom add */
/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: lightseagreen;
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2em;
  color: white;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text */
.add-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 150px;
  border-radius: 0px;
  transition-duration: .3s;
  border-radius: 5px;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 20px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

/*file*/
/* From Uiverse.io by csemszepp */ 
.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e8e8e8;
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: #e8e8e8;
}

.custum-file-upload .file-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .file-text span {
  font-weight: 400;
  color: #e8e8e8;
}

.custum-file-upload input {
  display: none;
}
/*----------------------- Loader.css -----------------------*/
/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/
